
ul#carousel{
	margin: 0  auto; 
	padding: 0px; 
	 white-space: nowrap;
	 width:500px;
	overflow:hidden;
	background:grey;
}
div#carouselinner{
 position:absolute;	

}
ul#carousel li{
	 margin-left:0px;
	 list-style-type:none;
	 display:inline-block;
}